@charset "utf-8";
table{
    background-color: aqua;
    margin-bottom: 20px;
}
caption{
    font-size: 50px;
    color: black;
    background-color: wheat;
}
table,tr,td,th{
    border: solid 3px wheat;
}
th{
    font: 50px;
}
tr{
    font-size: 20px;
}